.mainMenu__drawer .ant-drawer-body {
  padding: 0;
  max-width: calc(100vw);
}

.mainMenu__drawer .ant-drawer-content {
  background: #001529;
}

.header__secondary {
  float: right;
  padding: 0 16px;
}

.header__primary {
  background: white!important
}
.testEnv .header__primary {
  background: repeating-linear-gradient(45deg, #ffffff, #ffffff 10px, #ffd9d6 10px, #ffd9d6 20px)!important;
}

.header__warning {
  display: none;
}

/* add media query to remove header__warning on mobile*/
@media (min-width: 500px) {
  .testEnv .header__warning {
    display: block;
    font-weight: bold;
    color: tomato;
  }
}