@import '~antd/dist/antd.css';

html, body, #root {
  min-height: 100%;
}

.headerLogo {
  height: 64px;
  position: relative;
  line-height: 64px;
  padding-left: 24px;
  display: inline-block;
}

.headerLogo svg {
  vertical-align: middle;
  height: 64px;
  padding: 14px 0;
}

.logo {
  height: 64px;
  position: relative;
  line-height: 64px;
  padding-right: 24px;
  padding-left: 24px;
  transition: all .3s;
  background: #002140;
  overflow: hidden;
}

.logo svg {
  vertical-align: middle;
  height: 64px;
  fill: #5ba734;
  padding: 14px 0;
}

.logo h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  margin: 0 12px;
  font-family: Myriad Pro, Helvetica Neue, Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: white;
}

/* TODO: Not ideal, but will have to do for now. A themed component would make better sense*/
.actionLink {
  background: none;
  border: none;
  color: #1890ff;
}

.menu-trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.item-title {
  font-size: 16px;
  padding-right: 10px;
}

.item-title.preview {
  cursor: pointer;
}

.item-type {
  font-size: 14px;
  color: grey;
  font-weight: normal;
}

.item-description {
  font-size: 12px;
}

.item-btn-panel {
  margin-bottom: 16px;
}

.btn-link {
  border: none;
  padding: 0;
  height: auto;
  box-shadow: none;
}

.btn-container button + button {
  margin-left: 10px;
}

.text-center {
  text-align: center;
}

.text-right {
  display: flex;
  justify-content: flex-end;
}

.custom-list.ant-list-split .ant-list-header,
.custom-list.ant-list-split .ant-list-item {
  border: 1px solid #e8e8e8;
  padding: 12px;
  border-bottom-width: 0;
}

.custom-list.ant-list-split .ant-list-item:last-child {
  border-bottom-width: 1px;
}

.custom-list .ant-list-item-action-split {
  display: none;
}

h2 > i {
  color: rgba(0, 0, 0, .45);
  margin: 0 5px;
}

.ant-modal .ant-row.ant-form-item {
  margin-bottom: 0;
}

.deleted-alert {
  text-align: center;
  margin-bottom: 15px;
}

/* RTL styles */
.rtl-direction {
  direction: rtl;
}

.rtl-direction .ant-table table thead th > div {
  display: flex;
}

.rtl-direction .ant-table table {
  text-align: right;
  border-width: 1px !important;
}

.rtl-direction .ant-table-thead > tr > th.ant-table-column-has-actions.ant-table-column-has-sorters {
  padding-right: 16px !important;
  padding-left: 30px !important;
}

.rtl-direction .ant-table-thead > tr > th .ant-table-column-sorter {
  right: auto;
  left: 6px;
}